*{
  border: 0;
  margin: 0;
  padding: 0;
}

/*Styler top banneret*/
.header{
  width: auto;
  background-color: rgb(255, 220, 0);
  height: 100px;
  text-align: center;
    
}

/*Styler og plasserer logo i top banneret*/
#oslometGulLogo {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute; top: 0px; left: 0;
}

h1{
  padding: 30px;
}

h2{
  text-align: center;
  margin: 30px;
}




/* Lager grid for å plassere elementer i ruter slik at de automatisk 
justerer seg etter skjerm størrelsen*/

.grid-container {
  justify-content: center;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
}

.grid-rammer {
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(255, 220, 0); 
}

/*Bunntekst formatering*/
.bunntekst{
width: 100%;
height: 150px;
background-color: rgb(255, 220, 0);


justify-content: center;  
}

.contact-box {
background-color: black;
color: white;
padding: 10px;
height: 70px;
width: 400px;



text-align: center;
}









