h1 {
  color: red;
  text-align: center;
}
.OslometGulLogo {
}





.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid-rammer {
  
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(255, 220, 0); 
}




