#oslometGulLogo {
  display: block;
  margin-right: auto;
  width: 20%;
}
.header {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #33cccc;
  color: white;
}
a {
  margin: 0;
  padding: 0;
  font-family: "lato";
}
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}
.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}





.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid-rammer {
  
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(255, 220, 0); 
}




